*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    

}
.Title h1{
    font-family: 'Fruktur', cursive;
    font-size: 3.5rem;
    font-weight: 600;
}
.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
   
}
.Parent{
    display: flex;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Child{
    border: 2px solid white;
    height: 70vh;
}
.Grid{
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}
.Controls{
    width: 30%;
}
ul li div{
    width: 40px;
    height: 40px;
}
ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    margin-bottom: 20px;
}
.Heading {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    height: 66%;
}
.Heading h2{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 2.5rem;
    font-weight: 500;
}
.reset-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    
}
#reset{
    font-size: 1.2rem;
    font-family: 'Bubblegum Sans',cursive;
    height: 40px;
    width: 110px;
    background-color: red;
}
#color-1{
    background-color: green;
}
#color-2{
    background-color: blue;
}
#color-3{
    background-color: red;
}
#color-4{
    background-color: orange;
}
#color-5{
    background-color: yellow;
}
#color-6{
    background-color: purple;
}
.colors{
    border-radius: 50%;
}